
* {
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #000;
  }

    body{
    margin: 0;
    width: 100%;
    line-height: 1.5;
    background: #fff;
    }

    p{
        color: #000;
      }
    