
* {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: #2B0303;
  }

    body{
    margin: 0;
    width: 100%;
    line-height: 1.5;
    background: #F0AD52;
    }

    p{
        color: #2B0303;
      }
    